.sidebar-container{
    overflow-x: auto;
    padding-top: 100px;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 1;
    display: grid;
    align-items: center;
    left: 0;
    transition: 0.3s ease-in-out;
}

.opacity-on{
    opacity: 1;
    top: 0;
}
.opacity-off{
    opacity: 0;
    bottom: -100%;
}
.icon{
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
    color: black;
    position: absolute;
    top: 2.35rem;
    right: 1.9rem;
}
.close-icon{
    color : black
}
.sidebar-menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 80px);
    text-align: center;
    margin-bottom: 4rem;
}
.sidebar-links{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 2.5rem;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    transition: 0.2s ease-in-out ;
}
.social_site-link > p > a >img {
    width: 30px !important;
    height:30px !important;
}

@media screen and (max-width: 1480px){
    .sidebar-menu{
        grid-template-rows: repeat(4, 60px)
    }
}
.button-wrap{
    display: flex;
    justify-content: center;
}